@use "../variables" as *;

.Signup {
  min-height: 600px;

  form {
    display: flex;
    flex-direction: column;
    width: 300px;
    gap: 0.5rem;
    margin-top: 2rem;

    input[type="email"],
    input[type="password"] {
      height: 44px;
      padding-left: 1rem;
      border-radius: 0.8rem;
      border: none;
      background: $wht;
    }

    .Button {
      height: 48px;
      width: 100%;
      color: $wht;
      background: $red;
      border: none;
      border-radius: 0.8rem;
      font-weight: bold;
    }

    .Buttons {
      display: flex;
      gap: 1rem;
      margin-top: 0.5rem;
    }
  }
}
